@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding: 0;
}

#hero{
background-repeat: no-repeat;
background: linear-gradient(0deg, rgba(9.2, 8.93, 8.93, 1) 3.482%,rgba(16, 16, 16, 0) 101.632%),url('../assets/hero-bg.png');
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: center;

height: 810px;

}

#hero .hero-content{
    
    margin: 0 auto;
   
width: 1023px;
height: 370px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 32;

}

#hero .hero-content .subtitle{
    opacity: 0.8;
    color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-style: SemiBold;
font-size: 24px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
gap: 24px;

}
#hero .hero-content .title{
    color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-style: Bold;
font-size: 44px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
}
#hero .hero-content .description{
    opacity: 0.7;
color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-style: Medium;
font-size: 14px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}
#hero .hero-content .hero-button{
    color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-style: SemiBold;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgba(82, 195, 3, 1);
border:none;

cursor: pointer;


width: 300px;
height: 55px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 18px 28px 18px 28px;

}
#hero .hero-content .btn{
    text-align: center;
    /* Frame 6 */
 margin-top: 15px;


}


